<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pop_walk0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-47}</string>
                <key>spriteSize</key>
                <string>{120,160}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop_walk0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-48}</string>
                <key>spriteSize</key>
                <string>{112,160}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,163},{112,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop_walk0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-49}</string>
                <key>spriteSize</key>
                <string>{108,158}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,325},{108,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pop_idle.png</string>
            <key>size</key>
            <string>{122,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7c1bca4c4467084a73f2de9393c5e99:2977ac4121595c3a94a20c5a7da78661:53ff3fb692615ec9b7f195c5dee581b0$</string>
            <key>textureFileName</key>
            <string>pop_idle.png</string>
        </dict>
    </dict>
</plist>
