<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pipiP_throw0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-25}</string>
                <key>spriteSize</key>
                <string>{112,194}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1079,1},{112,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_throw0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-23}</string>
                <key>spriteSize</key>
                <string>{148,200}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{797,1},{148,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_throw0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-22}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{655,1},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_throw0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-22}</string>
                <key>spriteSize</key>
                <string>{130,200}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{947,1},{130,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_throw0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-22}</string>
                <key>spriteSize</key>
                <string>{130,200}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{947,1},{130,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_throw0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-22}</string>
                <key>spriteSize</key>
                <string>{130,200}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{947,1},{130,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_throw0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-23}</string>
                <key>spriteSize</key>
                <string>{114,192}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1193,1},{114,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_throw0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-22}</string>
                <key>spriteSize</key>
                <string>{130,200}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{947,1},{130,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_throw0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-22}</string>
                <key>spriteSize</key>
                <string>{130,200}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{947,1},{130,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_throw0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-22}</string>
                <key>spriteSize</key>
                <string>{130,200}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{947,1},{130,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_throw0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-22}</string>
                <key>spriteSize</key>
                <string>{130,200}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{947,1},{130,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_throw0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-22}</string>
                <key>spriteSize</key>
                <string>{130,200}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{947,1},{130,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_throw0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-22}</string>
                <key>spriteSize</key>
                <string>{130,200}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{947,1},{130,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_throw0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-22}</string>
                <key>spriteSize</key>
                <string>{130,200}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{947,1},{130,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipi_throw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{652,202}</string>
                <key>spriteSourceSize</key>
                <string>{654,204}</string>
                <key>textureRect</key>
                <string>{{1,1},{652,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pipi_throw.png</string>
            <key>size</key>
            <string>{1308,204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08a8c5383bf90eef4a7638e9f9b3be73:3a8f16d6b01fa96a7c11b25fe3bb72ae:713a8e4bb67905875ddbb283a1de32b7$</string>
            <key>textureFileName</key>
            <string>pipi_throw.png</string>
        </dict>
    </dict>
</plist>
