<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pop_walk0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-47}</string>
                <key>spriteSize</key>
                <string>{120,160}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop_walk0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-48}</string>
                <key>spriteSize</key>
                <string>{112,160}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,487},{112,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop_walk0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-49}</string>
                <key>spriteSize</key>
                <string>{108,158}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,649},{108,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop_walk0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-49}</string>
                <key>spriteSize</key>
                <string>{108,158}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,809},{108,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop_walk0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-47}</string>
                <key>spriteSize</key>
                <string>{108,152}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1447},{108,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop_walk0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-49}</string>
                <key>spriteSize</key>
                <string>{108,156}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1289},{108,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop_walk0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-49}</string>
                <key>spriteSize</key>
                <string>{108,158}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,969},{108,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop_walk0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-49}</string>
                <key>spriteSize</key>
                <string>{108,158}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1129},{108,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop_walk0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-48}</string>
                <key>spriteSize</key>
                <string>{114,160}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,325},{114,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop_walk0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-47}</string>
                <key>spriteSize</key>
                <string>{120,160}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,163},{120,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pop_walk.png</string>
            <key>size</key>
            <string>{122,1600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7363a12e3e67256cbebab8b84a9065ab:6884b81bebedda6e539f2476c3e7dfe1:a4061a905d0e384b9efe56d2fc1525bd$</string>
            <key>textureFileName</key>
            <string>pop_walk.png</string>
        </dict>
    </dict>
</plist>
