<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pipiP_throw_pre0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-25}</string>
                <key>spriteSize</key>
                <string>{112,194}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{637,1},{112,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_throw_pre0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-25}</string>
                <key>spriteSize</key>
                <string>{116,194}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{519,1},{116,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_throw_pre0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-25}</string>
                <key>spriteSize</key>
                <string>{122,194}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{395,1},{122,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_throw_pre0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-25}</string>
                <key>spriteSize</key>
                <string>{126,194}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{267,1},{126,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_throw_pre0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-25}</string>
                <key>spriteSize</key>
                <string>{130,194}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{135,1},{130,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_throw_pre0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-25}</string>
                <key>spriteSize</key>
                <string>{132,194}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{132,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_throw_pre0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-25}</string>
                <key>spriteSize</key>
                <string>{130,194}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{135,1},{130,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_throw_pre0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-25}</string>
                <key>spriteSize</key>
                <string>{126,194}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{267,1},{126,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_throw_pre0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-25}</string>
                <key>spriteSize</key>
                <string>{122,194}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{395,1},{122,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_throw_pre0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-25}</string>
                <key>spriteSize</key>
                <string>{116,194}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{519,1},{116,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_throw_pre0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-25}</string>
                <key>spriteSize</key>
                <string>{112,194}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{637,1},{112,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pipi_throw_pre.png</string>
            <key>size</key>
            <string>{750,196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:862e7e8a9f32202f44be02a6fabebd1d:62ee5735051eaeab3789ada20fe96a74:2bcb9815396d8ca970bc40f125845ba7$</string>
            <key>textureFileName</key>
            <string>pipi_throw_pre.png</string>
        </dict>
    </dict>
</plist>
