<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pipiP_jump0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-22}</string>
                <key>spriteSize</key>
                <string>{114,194}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,397},{114,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pipiP_jump0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-26}</string>
                <key>spriteSize</key>
                <string>{144,196}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{144,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_jump0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-26}</string>
                <key>spriteSize</key>
                <string>{144,196}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,199},{144,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_jump0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-27}</string>
                <key>spriteSize</key>
                <string>{136,196}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{147,199},{136,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_jump0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-27}</string>
                <key>spriteSize</key>
                <string>{136,196}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{147,199},{136,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_jump0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-27}</string>
                <key>spriteSize</key>
                <string>{136,196}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{147,199},{136,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_jump0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-27}</string>
                <key>spriteSize</key>
                <string>{136,196}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{147,199},{136,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_jump0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-27}</string>
                <key>spriteSize</key>
                <string>{136,196}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{147,199},{136,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_jump0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-27}</string>
                <key>spriteSize</key>
                <string>{136,196}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{147,199},{136,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_jump0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-27}</string>
                <key>spriteSize</key>
                <string>{136,196}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{147,199},{136,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_jump0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-27}</string>
                <key>spriteSize</key>
                <string>{136,196}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{147,199},{136,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_jump0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-27}</string>
                <key>spriteSize</key>
                <string>{136,196}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{285,199},{136,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_jump0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-26}</string>
                <key>spriteSize</key>
                <string>{142,196}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{147,1},{142,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_jump0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-25}</string>
                <key>spriteSize</key>
                <string>{134,194}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{291,1},{134,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipiP_jump0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-22}</string>
                <key>spriteSize</key>
                <string>{114,194}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{197,397},{114,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pipi_jump.png</string>
            <key>size</key>
            <string>{426,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f1799cfd08a11e9164a7e26233c9f35:8f9ea6fa546cd03f535f93416b39453e:e81874fb1e6b891825e3266925767a3e$</string>
            <key>textureFileName</key>
            <string>pipi_jump.png</string>
        </dict>
    </dict>
</plist>
