<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pipi_walk01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-22}</string>
                <key>spriteSize</key>
                <string>{114,194}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{189,1},{114,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipi_walk02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-25}</string>
                <key>spriteSize</key>
                <string>{96,196}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{91,1},{96,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipi_walk03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-26}</string>
                <key>spriteSize</key>
                <string>{88,198}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{88,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pipi_idle.png</string>
            <key>size</key>
            <string>{304,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abd5edccf8470fdc926fc03b01824634:e885964fcced978f1eaef83dcf23cef8:3c6dd9f7fff2f93774acfacf262e7e60$</string>
            <key>textureFileName</key>
            <string>pipi_idle.png</string>
        </dict>
    </dict>
</plist>
