<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pop_ jump01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-47}</string>
                <key>spriteSize</key>
                <string>{118,160}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{275,123},{118,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pop_ jump02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-47}</string>
                <key>spriteSize</key>
                <string>{140,162}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{133,1},{140,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop_ jump03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-46}</string>
                <key>spriteSize</key>
                <string>{130,164}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop_ jump04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-46}</string>
                <key>spriteSize</key>
                <string>{130,164}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop_ jump05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-46}</string>
                <key>spriteSize</key>
                <string>{130,164}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop_ jump06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-46}</string>
                <key>spriteSize</key>
                <string>{130,164}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop_ jump07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-46}</string>
                <key>spriteSize</key>
                <string>{130,164}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop_ jump08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-46}</string>
                <key>spriteSize</key>
                <string>{130,164}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop_ jump09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-47}</string>
                <key>spriteSize</key>
                <string>{140,162}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{133,1},{140,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop_ jump10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-47}</string>
                <key>spriteSize</key>
                <string>{120,160}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{275,1},{120,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pop_jump.png</string>
            <key>size</key>
            <string>{436,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:837940a30ed006b20c50f977ca32d9ea:e756e0da9f56f40ec97680dc7bd1cfd3:dfa45f6dafc9f5e7a03f4dab532837a9$</string>
            <key>textureFileName</key>
            <string>pop_jump.png</string>
        </dict>
    </dict>
</plist>
