<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pipi_die0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-23}</string>
                <key>spriteSize</key>
                <string>{114,192}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{145,167},{114,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipi_die0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-30}</string>
                <key>spriteSize</key>
                <string>{110,196}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{261,307},{110,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pipi_die0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-34}</string>
                <key>spriteSize</key>
                <string>{130,188}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{353,1},{130,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipi_die0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-36}</string>
                <key>spriteSize</key>
                <string>{154,176}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{175,1},{154,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pipi_die0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-41}</string>
                <key>spriteSize</key>
                <string>{172,164}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{172,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipi_die0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-52}</string>
                <key>spriteSize</key>
                <string>{192,142}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,167},{192,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pipi_die0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-65}</string>
                <key>spriteSize</key>
                <string>{200,114}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{261,191},{200,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipi_die0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-77}</string>
                <key>spriteSize</key>
                <string>{198,92}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,361},{198,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pipi_die.png</string>
            <key>size</key>
            <string>{484,454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d041a90ab347a9552ea8b94e849f4c00:fcc5c7f4a66beab6fdb86186dd0df5dc:710bbe7a63caa4f2c6ad643794aa7b63$</string>
            <key>textureFileName</key>
            <string>pipi_die.png</string>
        </dict>
    </dict>
</plist>
